<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href=""><img src="/assets/images/nav-logo.png" width="40" height="40" class="d-inline-block align-center" alt="" loading="lazy"> O W A M B E</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav mr-auto">
			<a class="nav-link" href="">Discover<span class="sr-only">(current)</span></a>
			<a class="nav-link" href="fundraisers">Fundraisers</a>
			<a class="nav-link" href="">About Us</a>
			<a class="nav-link" href="">How it works</a>
		</div>
		<div class="navbar-nav">
			<a class="nav-link" href="authentication/login">Login</a>
			<a class="nav-link" href="authentication/register">Register</a>
		</div>
	</div>
</nav>
