<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->
		<h2 class="nav-link active" routerLink="../login">Login</h2>
		<h2 class="nav-link inactive underlineHover" routerLink="../register">Register</h2>
		
		<!-- Icon -->
		<h1>O W A M B E</h1>
		<div class="fadeIn first">
			<img src="/assets/images/login.png" id="icon" alt="User Icon" />
		</div>

		<!-- Login Form -->
		<form>
			<input type="text" id="login" class="fadeIn second" name="login" placeholder="Email Address">
			<input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
			<input type="submit" class="fadeIn fourth" value="Log In">
		</form>
		
		<!-- Remind Passowrd -->
		<div id="formFooter">
			<a class="underlineHover" href="#">Forgot Password?</a>
		</div>
	</div>
</div>