<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->
		<h2 class="nav-link active" routerLink="../login">Login</h2>
		<h2 class="nav-link inactive underlineHover" routerLink="../register">Register</h2>
		
		<!-- Icon -->
		<h1>O W A M B E</h1>
		<div class="fadeIn first">
			<img src="/assets/images/login.png" id="icon" alt="User Icon" />
		</div>

		<!-- Login Form -->
		<form>
			<span>Kindly check your email for your Account Number</span>
			<input [(ngModel)]="loginUserData._id" type="text" name="_id" placeholder="Account Number" class="fadeIn first" required>
			<input [(ngModel)]="loginUserData.password" type="password" name="password" placeholder="Password" class="fadeIn second" required>
			<button (click)="clickFunctions()" [disabled]="!loginUserData._id || !loginUserData.password" type="button" class="fadeIn third">Login</button>
		</form>
		
		<!-- Remind Passowrd -->
		<div id="formFooter">
			<a class="underlineHover" href="#">Forgot Password?</a>
		</div>
	</div>
</div>