img{
  width: 100px;
  height: 100px;
}

div.user{
  margin-left: 1rem;
}

.card{
  max-width: 35rem;
  background-color: #f1faee;
}

.user-bal{
  margin: 1.5rem 0;
}

.nav-pills{
  margin-top: 2rem;
}
