<main class="container">
  <p class="display-4 font-weight-bold">Dashboard</p>
  <div class="d-inline-flex">
    <img class="rounded-circle" src="https://images.unsplash.com/photo-1555588746-13edde80e4a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80" alt="">
      <div class="d-inline-flex flex-column align-self-end user">
        <span>Ikumapayi Khalil</span>
        <span class="text-success">Verified</span>
      </div>
  </div>

  <div class="card shadow-lg">
    <div class="card-body container">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <span>Owambe Acc</span>
          <span>ID:89456244</span>
        </div>
        <span class="user-bal">USD 1000000</span>
        <div class="d-flex justify-content-between">
          <button class="btn btn-primary btn-small">Withdraw</button>
          <button class="btn btn-primary btn-small">Deposit</button>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-pills justify-content-between my-5" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#recent-activities" role="tab" aria-controls="pills-home" aria-selected="true">Recent Activities</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#donate" role="tab" aria-controls="pills-profile" aria-selected="false">Donate</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#donation-request" role="tab" aria-controls="pills-contact" aria-selected="false">Request for donations</a>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <!-- custtomers donation activities -->
    <div class="tab-pane fade show active" id="recent-activities" role="tabpanel" aria-labelledby="pills-home-tab">
      <h1>Your recent avtivities will be shown here</h1>
    </div>

    <!-- donations -->
    <div class="tab-pane fade" id="donate" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="card bg-secondary mb-5 col-6 shadow-lg">
        <div class="card-body text-light">
          <h5 class="card-title">Provisin for Ophanage</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti vero excepturi non quod reprehenderit deserunt commodi earum amet qui.</p>
          <p class="money">USD 4000</p>
          <a href="#" class="card-link text-info">More-details</a>
          <a href="#" class="card-link btn btn-sm btn-primary">Donate</a>
        </div>
      </div>
      <div class="card bg-secondary mb-5 col-6 shadow-lg">
        <div class="card-body text-light">
          <h5 class="card-title">Provisin for Ophanage</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti vero excepturi non quod reprehenderit deserunt commodi earum amet qui.</p>
          <p class="money">USD 4000</p>
          <a href="#" class="card-link text-info">More-details</a>
          <a href="#" class="card-link btn btn-sm btn-primary">Donate</a>
        </div>
      </div>
      <div class="card bg-secondary mb-5 col-6 shadow-lg">
        <div class="card-body text-light">
          <h5 class="card-title">Provisin for Ophanage</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti vero excepturi non quod reprehenderit deserunt commodi earum amet qui.</p>
          <p class="money">USD 4000</p>
          <a href="#" class="card-link text-info">More-details</a>
          <a href="#" class="card-link btn btn-sm btn-primary">Donate</a>
        </div>
      </div>
      <div class="card bg-secondary mb-5 col-6 shadow-lg">
        <div class="card-body text-light">
          <h5 class="card-title">Provisin for Ophanage</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti vero excepturi non quod reprehenderit deserunt commodi earum amet qui.</p>
          <p class="money">USD 4000</p>
          <a href="#" class="card-link text-info">More-details</a>
          <a href="#" class="card-link btn btn-sm btn-primary">Donate</a>
        </div>
      </div>
      <div class="card bg-secondary mb-5 col-6 shadow-lg">
        <div class="card-body text-light">
          <h5 class="card-title">Provisin for Ophanage</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti vero excepturi non quod reprehenderit deserunt commodi earum amet qui.</p>
          <p class="money">USD 4000</p>
          <a href="#" class="card-link text-info">More-details</a>
          <a href="#" class="card-link btn btn-sm btn-primary">Donate</a>
        </div>
      </div>
      <div class="card bg-secondary mb-5 col-6 shadow-lg">
        <div class="card-body text-light">
          <h5 class="card-title">Provisin for Ophanage</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti vero excepturi non quod reprehenderit deserunt commodi earum amet qui.</p>
          <p class="money">USD 4000</p>
          <a href="#" class="card-link text-info">More-details</a>
          <a href="#" class="card-link btn btn-sm btn-primary">Donate</a>
        </div>
      </div>
    </div>

    <!-- donation request form -->
    <div class="tab-pane fade col-sm-12 col-md-8 justify-content-center" id="donation-request" role="tabpanel" aria-labelledby="pills-contact-tab">
      <form>
        <div class="form-group">
          <label for="DonationTitle">Donation Title</label>
          <input type="email" class="form-control" id="DonationTitle" placeholder="Enter the title of your donation request">
        </div>
        <div class="form-group">
          <label for="whoIsTheFormFor?">Who is the request for?</label>
          <select class="form-control" id="whoIsTheFormFor?">
            <option>Individual</option>
            <option>Organization</option>
          </select>
        </div>
        <div class="form-group">
          <label for="organizationName">Name of the Organization</label>
          <input type="email" class="form-control" id="organizationName" placeholder="Enter the title of your donation request">
        </div>
        <div class="form-group">
          <label for="donationTarget">How much is your donation target</label>
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control  col-4" id="donationTarget" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="descriptionAndReasons">Describe the reasons why you need a donation</label>
          <textarea class="form-control" id="descriptionAndReasons" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Additionsl Words <small class="text-warning">Optional*</small></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </div>
</main>
