span>svg{
  color: white;
  width: 30px;
  position: absolute;
  margin-left: -50px;
  margin-top: 5px;
}

svg{
  width: 30px;
  margin-right: 30px;
  color: #2e47ae;
  cursor: pointer;
}

input{
  background: #4466d1;
  outline: none;
  color: white;
}

input:focus{
  background-color: #4466d1;
}

.footer{
  border-radius: 50px 0 0 0;
}
