@font-face {
	font-family: 'Raleway';
	src: url(/assets/fonts/Raleway/Raleway-Light.ttf) format("truetype");
	font-weight: 200;
}

@font-face {
	font-family: 'Raleway';
	src: url(/assets/fonts/Raleway/Raleway-Regular.ttf) format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: 'Raleway';
	src: url(/assets/fonts/Raleway/Raleway-Medium.ttf) format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: 'Raleway';
	src: url(/assets/fonts/Raleway/Raleway-Bold.ttf) format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: 'Raleway';
	src: url(/assets/fonts/Raleway/Raleway-ExtraBold.ttf) format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: 'Raleway';
	src: url(/assets/fonts/Raleway/Raleway-Black.ttf) format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: 'Montserrat';
	src: url(/assets/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
	font-weight: 200;
}

@font-face {
	font-family: 'Montserrat';
	src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
	src: url(/assets/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: url(/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url(/assets/fonts/Montserrat/Montserrat-Black.ttf) format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: 'Poppins';
	src: url(/assets/fonts/Poppins/Poppins-Light.ttf) format("truetype");
	font-weight: 200;
}

@font-face {
	font-family: 'Poppins';
	src: url(/assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: 'Poppins';
	src: url(/assets/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: 'Poppins';
	src: url(/assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: 'Poppins';
	src: url(/assets/fonts/Poppins/Poppins-ExtraBold.ttf) format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: 'Poppins';
	src: url(/assets/fonts/Poppins/Poppins-Black.ttf) format("truetype");
	font-weight: 700;
}

label, select, option, input::placeholder, data {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 300;
}

span, td, th {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
}

small, a {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
}

html {
	height: 100%;
	width: auto;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 300;
	// background-image: linear-gradient(to right top, #a3c8ff, #94baf7, #85adef, #779fe6, #6992de);
	// background-image: linear-gradient(to bottom, #ffffff, #efeffe, #dbe1ff, #c2d4ff, #a3c8ff);
}

.container {
	padding: 20px;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.min-vh {
	min-height: 70vh !important;
}